body {
    background-color: #f8f8f8;
}

.menu {
    list-style-type: none;
}

.menu-link {
    text-decoration: none;
    color: #2B150D;
    font-weight: bold;
    line-height: 30px;
    font-size: 25px;
}

.menu-link:hover {
    color: #955C47;
}

.product-img {
    outline: 4px solid #A9A9A9;
}

.product-img:hover {
    outline: none;
}

.caption {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.short-desc {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.full-desc {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.full-desc:first-letter {
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    color: #471515;
}

input[type="text"],
input[type="email"] {
    width: 345px;
    height: 25px;
}

textarea {
    resize: none;
}

input[type="text"],
input[type="email"],
textarea {
    border-radius: 5px;
    color: #2B150D;
    font-size: 18px;
    border: 1px solid #576161;
    text-indent: 10px;
    outline: none;
    text-transform: capitalize;
}

input[type="email"]:focus {
    background-color: #707070;
    color: #3a3a3a;
}

.table {
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    border: 1px solid black;
}

th {
    height: 40px;
    color: #2B150D;
    background-color: #cca293;
}

tr:nth-child(3) {
    background-color: #aa9c9c;
}

.footer {
    background-color: #a1a1a1;
}